{
    "presets": [
        "babel-preset-expo"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "./"
                ],
                "alias": {
                    "@root": "./",
                    "@components": "./src/components",
                    "@screens": "./src/screens",
                    "@app": "./src/app",
                    "@features": "./src/features",
                }
            }
        ]
    ]
}